* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

/* This is the Navigation bar section */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 3em 1em;
}

ul li {
    list-style-type: none;
    display: inline;
}

ul li a {
    text-decoration: none;
    padding: 10px;
    color: #000;
}


/* This is the Hero section */
section {
    padding: 3.2em 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-header {
    font-family: Arial, Helvetica, sans-serif !important;
    line-height: 35px;
    padding: 10px 0;
}

.hero-description {
    margin-bottom: 10px;
}

.hero-input {
    padding: 0.7em;
    width: 60%;
    border-radius: 3px;
    margin-right: 7px;
}

.hero-btn {
    padding: 0.8em 4em;
    border-radius: 3px;
    background-color: #3030e9;
    color: white;
    border: none;
    cursor: pointer;
}

/* Productivity section */
.productive-section {
    padding-top: 12em;
    background-color: #f0f0f0;
}

.cta-link {
    color: #40c540;
    text-decoration: none;
    border-bottom: 1px solid #40c540;
    padding-bottom: 5px;
}

.productive-review {
    padding: 1em;
    margin-top: 2em;
    background: #fff;
    width: 28% !important;
    line-height: 27px;
    font-weight: 500;
    border-radius: 8px;
}

.productive-p-1 {
    margin-bottom: 1.3em;
}

.productive-review span {
    font-weight: bold;
}

.quote {
    font-size: 30px;
    font-weight: bolder;
}

/* Early Access section */
.early-access {
    background-color: hsl(238, 22%, 44%);
    padding: 3rem 0;
}

.email-section {
    padding: 10px;
}

.button {
    background-color: blue;
    color: white;
}

.email-section {
    text-align: right;
}

.hero-input2 {
    padding-top: 8px;
    padding-left: 60px;
    padding-bottom: 8px;
    padding-right: 100px;
    border-radius: 4px;
}

.hero-btn {
    padding: 0px;
    margin-right: 185px;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.early-access-flex {
    display: flex;
    justify-content: space-around;
}

.hero-paragraph {
    color: white;
}

.early-access-footer {
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
}

.footer-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-hd {
    color: #fff;
    margin-bottom: 1rem;
}

.footer-hd p, h1 {
    margin-bottom: 1rem;
    color: #fff;
}

footer {
    padding: 5rem 0;
    /* background-color: #21214b; */
    background-color: hsl(243, 87%, 12%);
    
}

.col-one li{
    margin-bottom: 1rem;
    list-style-type: none;
}

.col-one li a{
    color: #d8d8d8;
    text-decoration: none;
}

.col-three a{
    color: white;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    text-decoration: none;
    margin: 0 0.5rem;
}

.hero-image{
    background-image: url();
}